.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js

appli-java-jersey/target
appli-java-jersey/.settings
appli-java-jersey/.project
appli-java-jersey/.classpath
cave/target
